/* Increase the default font size */
html {
  font-size: 14pt;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.center_scaled {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#comment {
  width: 60%;
  margin-right: 10pt;
  margin-top: 20pt;
}